<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="incomeCalculator" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="incomeCalculator" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="incomeCalculator" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="incomeCalculator" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Income Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<div class="container main-content" ng-controller="CalculationCtrl">
    <h1>PRZELICZNIK KONTRAKTORA</h1>

    <p> Aplikacja ma za zadanie wyliczy&#263; miesi&#281;czny zarobek netto w PLN na kontrakcie w Niemczech, Wielkiej
        Brytanii i Polsce</p>

    <form role="form" novalidate>

        <div class="choice-panel well">
            <h3> 1. Wybierz kraj </h3>

            <div data-ng-repeat="country in countries">
                <label>
                    <input type="radio" name="country" ng-model="formData.selectedCountry"
                           ng-change="updateCalculation()" ng-value="country"/>
                    {{country.name}}

                </label>
            </div>
            <h3>2. Wpisz stawk&#281; dzienn&#261;</h3>

            <div class="input-group">
                <input class="form-control" type="number" ng-model="formData.dailyRate" ng-model-options="{ debounce: 500 }" ng-change="updateCalculation()"
                       placeholder="Kwota netto"/>

                <div class="input-group-addon">{{formData.selectedCountry.currencyCode}}</div>
            </div>
        </div>

        <div class="result-panel well text-center">
            <h1> WYNIK </h1>

            <div>
                <p>Stawka miesi&#281;czna netto</p>

                <h1>{{formData.monthlyRate | number : 2}}
                    <div class="inline" ng-hide="formData.monthlyRate == null">
                        PLN
                    </div>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Podatek dochodowy ({{formData.selectedCountry.taxRate * 100}}%)</p>

                    <h1>{{formData.monthlyTax | number : 2}}
                        <div class="inline" ng-hide="formData.monthlyTax == null">
                            PLN
                        </div>
                    </h1>
                </div>

                <div class="col-md-6">
                    <p>Koszt Sta&#322;y</p>

                    <h1>{{formData.additionalCost | number : 2}}
                        <div class="inline" ng-hide="formData.additionalCost == null">
                            PLN
                        </div>
                    </h1>
                </div>
            </div>

        </div>

    </form>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="app.js"></script>
</body>
</html>
